@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-text: #000000;
  --color-bg: #fac51c;
  --color-accent: #e52463;
  --color-accent-secondary: #309bb5;
  --color-card: #ffffff;
  --color-extra: #ea6f3a;
}
