@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --color-text: #000000;
  --color-bg: #fac51c;
  --color-accent: #e52463;
  --color-accent-secondary: #309bb5;
  --color-card: #ffffff;
  --color-extra: #ea6f3a;
}

hr {
  border: none;
  height: 20px;
}

.hero-bg {
  background-image: url('https://www.shutterstock.com/shutterstock/videos/3920724061/thumb/1.jpg?ip=x480');
  background-size: cover;
  background-position: center;
}

p {
  text-align: center;
}
